---
import { Image } from "astro:assets";

import Toppy from "../assets/images/tophat.png";
import BabyCCarousel from "../components/baby-c-carousel.astro";
import Block from "../components/block.astro";
import SubpageLayout from "../layouts/subpage.astro";
import Typography from "../layouts/typography.astro";
---

<style>
    main {
        max-width: 40rem;

        /*
            Target max width (80rem) + buffer to account for layout padding / section gaps
            Ensure about subsections have enough space to move onto the same line
        */
        @media (min-width: 88rem) {
            max-width: fit-content;
        }
    }

    .about-block {
        /* 
            https://lea.verou.me/blog/2011/03/beveled-corners-negative-border-radius-with-css3-gradients/ 
            gradient of main block, cuts off at the corner
        */
        background: linear-gradient(
            225deg,
            transparent var(--spacing-one-px),
            var(--color-accent-1000) 0
        );
        background-repeat: no-repeat;

        > header {
            /* TODO Please comment this to explain; you will forget */
            background:
                linear-gradient(
                    to right,
                    var(--color-accent-100),
                    85%,
                    transparent
                ),
                linear-gradient(
                    225deg,
                    transparent var(--spacing-one-px),
                    var(--color-accent-400) 0
                );
            background-repeat: no-repeat;

            /* 
                This border-top-left-radius declaration serves the same purpose as overflow: clip: align
                the header box with the containing section; however, on either setting overflow-clip on the section
                or setting the header to the same border-top-left-radius, a small (1px or so) sliver of an artifact, the background color
                of the section in the background, would show through. for whatever reason, not sure why yet, this
                fixed the issue insofar as it disappeared, though root cause TBD. 
            */
            border-top-left-radius: 6px;

            h1,
            h2 {
                color: var(--color-accent-900);
                font-weight: 500;
            }
        }

        > div {
            color: var(--color-accent-200);
            display: flex;
            flex-flow: row wrap;
            align-content: stretch;
            gap: 0;

            /* 
                Rules below ensure that children fill space, even if content isn't wide enough
            */

            > * {
                width: 100%;
            }

            @media (min-width: 88rem) {
                gap: var(--spacing-two-rem);

                > * {
                    flex: 1;
                }
            }

            /* TODO Is this working */
            @media (max-width: 88rem) {
                > .block-segment {
                    & + .block-segment {
                        margin-top: 1em;
                    }

                    &:first-child {
                        padding-bottom: 0;
                    }

                    &:last-child {
                        padding-top: 0;
                    }
                }
            }
        }

        .carousel {
            margin-left: calc(var(--spacing-two-rem) * -1);
            margin-right: calc(var(--spacing-two-rem) * -1);

            @media (min-width: 40rem) {
                margin-left: 0;
                margin-right: 0;
            }
        }
    }

    .secondary-content {
        align-content: stretch;
        display: flex;
        flex-flow: row wrap;
        gap: var(--spacing-two-rem);
        margin-top: var(--spacing-two-rem);

        /* 
            Rules below ensure that children fill space, even if content isn't wide enough
            Important for the Get In Touch section    
        */

        > * {
            width: 100%;
        }

        @media (min-width: 88rem) {
            > * {
                flex: 1;
            }
        }
    }

    .what-block {
        .tiny-toppy {
            display: inline-block;
            height: 1em;
            width: 1em;
        }

        .disclaimer {
            font-style: italic;
        }
    }

    .contact-block {
        background-color: var(--color-primary-900);
        color: var(--color-primary-100);

        a {
            display: block;
            font-size: var(--font-size-xl);
            text-align: center;
            margin-top: 2em;
        }
    }
</style>

<SubpageLayout
    description="About GrepCo and Zack McCartney"
    title="About Me"
>
    <main class="mx-auto">
        <Block
            class="about-block"
            customLayout
        >
            <Fragment slot="header">
                <h1>About Me</h1>
            </Fragment>
            <Fragment>
                <Typography class="block-segment">
                    <p>
                        Hello! My name's Zack McCartney. I'm a web developer /
                        programmer / software engineer / whatever you want to
                        call it, working on the web for work and fun.
                    </p>
                    <p>For actual career info:</p>
                    <ul>
                        <li>
                            <a href="https://www.linkedin.com/in/zackmccartney">
                                LinkedIn
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/zemccartney">
                                Github
                            </a>
                        </li>
                    </ul>
                </Typography>
                <Typography class="block-segment">
                    <p>
                        I live with my partner and our 13ish year old daughter
                        Cece:
                    </p>
                    <BabyCCarousel />
                    <p>
                        She is my baby. Her birthday is January 15th. She is
                        elderly, but she is still just a baby. She is very
                        small. Mainly because she is only 6 pounds, but also
                        because she is
                        <em>just a baby</em>.
                    </p>
                </Typography>
            </Fragment>
        </Block>
        <div class="secondary-content">
            <Block
                class="what-block"
                data-variant="metal"
            >
                <Fragment slot="header">
                    <h2>What's with GrepCo?</h2>
                </Fragment>
                <Typography class="block-segment">
                    <p>
                        <a
                            href="https://man7.org/linux/man-pages/man1/grep.1.html"
                            >grep</a
                        >
                        is a classic search utility, dating back to the prehistoric
                        days of Unix. When I learned that grep stood for "global
                        regular expression search and print," I thought Global Regular
                        Expressions sounded like a satirical agency name, something
                        out of Better Off Ted, which left needing a p somewhere and
                        I thought production company had a better ring to it than
                        productions, along with some actual name differentiation
                        from the program itself. That is, in fact, it, from bottom
                        to
                        <Image
                            alt="small top hat emoji"
                            class="tiny-toppy"
                            src={Toppy}
                        />.
                    </p>
                    <p class="disclaimer">
                        (to be clear, I have no intention to discredit or
                        infringe on grep's authors. Open to renaming if current
                        branding lands as such)
                    </p>
                </Typography>
            </Block>
            <Block class="contact-block">
                <Fragment slot="header">
                    <h2>Get in Touch</h2>
                </Fragment>
                <Typography>
                    <p>
                        Questions? Inquiries? Random thoughts? Don't hesitate to
                        give me a shout! I'll try my best to get back to any
                        non-spam messages within a couple of days.
                    </p>
                    <a href="mailto:zack@grepco.net">zack@grepco.net</a>
                </Typography>
            </Block>
        </div>
    </main>
</SubpageLayout>
