---
import { Image } from "astro:assets";

import Logo from "../assets/images/logo.png";
import Button from "../components/button.astro";
import BaseLayout from "../layouts/base.astro";
import Typography from "../layouts/typography.astro";
---

<style>
    .home-layout {
        padding-bottom: var(--spacing-four-px);
        padding-top: var(--spacing-two-px);

        @media (min-width: 40rem) {
            padding-bottom: var(--spacing-six-px);
            padding-top: var(--spacing-two-px);
        }

        header {
            > * + * {
                margin-top: var(--spacing-four-rem);
            }

            nav {
                align-items: center;
                display: flex;
                flex-direction: row;
                gap: var(--spacing-three-rem);
                justify-content: center;

                @media (min-width: 40rem) {
                    align-items: baseline;
                    flex-direction: row;
                    gap: var(--spacing-four-rem);
                }
            }

            > .logo {
                margin-left: auto;
                margin-right: auto;
                width: fit-content;

                .toppy {
                    display: inline-block;
                    margin-right: var(--spacing-two-px);
                    width: 100px;
                }

                .regex {
                    display: flex;
                    align-items: center;
                    color: var(--color-accent-600);
                    font-size: var(--font-size-7xl);
                    font-weight: bold;
                    letter-spacing: 0.05em;
                    line-height: 1;
                    margin-left: -0.5rem; /* I can't explain why, but this nudge makes the logo look more centered */
                }
            }

            > h1 {
                color: var(--color-accent-600);
                font-size: var(--font-size-4xl);
                letter-spacing: 0.05em;
                line-height: 1.2;
                font-style: italic;
                font-weight: bold;
                text-align: center;
                text-transform: uppercase;
                text-wrap: balance;
            }

            @media (min-width: 40rem) {
                h1 {
                    font-size: var(--font-size-6xl);
                }
            }
        }

        main {
            color: var(--color-primary-900);
            font-size: var(--font-size-base);
            margin-top: var(--spacing-four-rem);
            max-width: 20em; /* see note in global.css about character count experiment */
            text-align: center;

            h2 {
                color: var(--color-primary-900);
                font-size: var(--font-size-2xl);
                font-weight: bold;
                text-align: center;
            }

            @media (min-width: 40rem) {
                font-size: var(--font-size-lg);

                h2 {
                    font-size: var(--font-size-3xl);
                }
            }
        }
    }
</style>

<BaseLayout
    description="Zack McCartney's personal site / a fake production company"
    title="GrepCo — Global Regular Expressions Production Company"
>
    <div class="home-layout">
        <header>
            <h1>Global Regular<br />Expressions</h1>
            <div
                aria-label="GrepCo logo"
                class="logo"
                role="img"
            >
                <div class="regex">
                    <Image
                        alt="GrepCo logo (top hat emoji with globe in the middle, cat poking its head off the top right, and a basketball floating over the top right)"
                        class="toppy"
                        src={Logo}
                        width={100}
                    /><span>/g</span>
                </div>
            </div>
            <nav>
                <Button
                    as="a"
                    class="AccentButton"
                    href="/about"
                >
                    About
                </Button>
                <Button
                    as="a"
                    class="AccentButton"
                    href="/projects"
                >
                    Projects
                </Button>
            </nav>
        </header>
        <Typography
            as="main"
            class="mx-auto"
        >
            <h2>"a production company"</h2>
            <p>
                And by company, "we" mean a solo dev working up in sunny
                South&nbsp;Portland,&nbsp;ME.
            </p>
            <p>Thanks for stopping by!</p>
        </Typography>
    </div>
</BaseLayout>
