@import url("../global.css");
@import url("../theme.css");

main {
    max-width: 40rem;

    /*
        Target max width (80rem) + buffer to account for layout padding / section gaps
        Ensure about subsections have enough space to move onto the same line
    */
    @media (min-width: 88rem) {
        max-width: fit-content;
    }

    .secondary-content,
    .section-container {
        display: flex;
        flex-flow: row wrap;
        align-content: stretch;

        /* 
            Rules below ensure that children fill space, even if content isn't wide enough
            Important for the Get In Touch section    
        */

        > * {
            width: 100%;
        }

        @media (min-width: 88rem) {
            > * {
                flex: 1;
            }
        }
    }

    .secondary-content {
        gap: calc(var(--spacing-two) * 1rem / var(--spacing-base));
        margin-top: calc(var(--spacing-two) * 1rem / var(--spacing-base));
    }

    .section-container {
        gap: 0;

        @media (min-width: 88rem) {
            gap: calc(var(--spacing-two) * 1rem / var(--spacing-base));
        }

        @media (max-width: 88rem) {
            .block-body {
                & + .block-body {
                    margin-top: 1em;
                }

                &:first-child {
                    padding-bottom: 0;
                }

                &:last-child {
                    padding-top: 0;
                }
            }
        }
    }

    .block {
        &.about {
            /* https://lea.verou.me/blog/2011/03/beveled-corners-negative-border-radius-with-css3-gradients/ 
                gradient of main block, cuts off at the corner
            */
            background: linear-gradient(
                225deg,
                transparent calc(var(--spacing-one) * 1px),
                var(--color-accent-1000) 0
            );
            background-repeat: no-repeat;

            > header {
                /* TODO Please comment this to explain; you will forget */
                background: linear-gradient(
                        to right,
                        var(--color-accent-100),
                        85%,
                        transparent
                    ),
                    linear-gradient(
                        225deg,
                        transparent calc(var(--spacing-one) * 1px),
                        var(--color-accent-400) 0
                    );
                background-repeat: no-repeat;

                /* 
                        This border-top-left-radius declaration serves the same purpose as overflow: clip: align
                        the header box with the containing section; however, on either setting overflow-clip on the section
                        or setting the header to the same border-top-left-radius, a small (1px or so) sliver of an artifact, the background color
                        of the section in the background, would show through. for whatever reason, not sure why yet, this
                        fixed the issue insofar as it disappeared, though root cause TBD. 
                    */
                border-top-left-radius: 6px;

                h1,
                h2 {
                    color: var(--color-accent-900);
                    font-size: var(--font-size-2xl);
                    font-weight: 500;
                }
            }

            .block-body {
                color: var(--color-accent-200);

                .carousel {
                    padding: calc(
                            (var(--spacing-one) * 1rem) / var(--spacing-base)
                        )
                        0;
                    background-color: var(--color-accent-100);
                    border-radius: calc(var(--spacing-half) * 1px);
                    position: relative;

                    > button {
                        /* resets */

                        background-color: transparent;
                        border-width: 0;
                        padding: 0;
                        border-style: solid;

                        /* end resets */

                        position: absolute;
                        top: calc(50% - calc(var(--spacing-onedotfive) * 1px));
                        width: 0;
                        height: 0;
                        cursor: pointer;
                        border-color: var(--color-accent-700);
                        border-top-width: calc(var(--spacing-onedotfive) * 1px);
                        border-top-color: transparent;
                        border-bottom-width: calc(
                            var(--spacing-onedotfive) * 1px
                        );
                        border-bottom-color: transparent;

                        &.previous {
                            border-right-width: calc(
                                var(--spacing-three) * 1px
                            );
                            left: 0;

                            @media (min-width: 40rem) {
                                left: calc(var(--spacing-onedotfive) * 1px);
                            }

                            &:hover,
                            &:active {
                                border-right-color: var(--color-accent-800);
                            }
                        }

                        &.next {
                            border-left-width: calc(var(--spacing-three) * 1px);
                            right: 0;

                            @media (min-width: 40rem) {
                                right: calc(var(--spacing-onedotfive) * 1px);
                            }

                            &:hover,
                            &:active {
                                border-left-color: var(--color-accent-800);
                            }
                        }
                    }

                    .slides {
                        overflow: hidden;
                        display: flex;
                        scroll-snap-type: x mandatory;

                        /* TODO Review / recall Comeau's image placement work */
                        > .slide {
                            scroll-snap-align: center;
                            flex-shrink: 0;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 100%;
                        }
                    }
                }
            }
        }

        &.why {
            .tiny-toppy {
                display: inline-block;
                height: 1em;
            }

            .disclaimer {
                font-style: italic;
            }
        }

        &.contact {
            background-color: var(--color-primary-900);
            color: var(--color-primary-100);

            a {
                display: block;
                font-size: var(--font-size-xl);
                text-align: center;
                margin-top: 2em;
            }
        }
    }
}
