{% extends "layouts/base.html" %}

{% block pagename %}
    404
{% endblock %}

{% block description %}
    Page not found!
{% endblock %}

{% block head %}
    <style>
        main {
            align-items: center;
            display: flex;
            flex-direction: column;
            gap: calc((var(--spacing-three) * 1rem) / var(--spacing-base));

            padding-bottom: calc(var(--spacing-four) * 1px);
            padding-top: calc(var(--spacing-two) * 1px);

            @media (min-width: 40rem) {
                padding-bottom: calc(var(--spacing-six) * 1px);
                padding-top: calc(var(--spacing-two) * 1px);
            }
        }

        #exclamation {
            font-size: 10rem;
            color: var(--color-accent-600);
            font-weight: bold;
        }

        h1 {
            color: var(--color-accent-600);
            font-size: var(--font-size-4xl);

            @media (min-width: 40rem) {
                font-size: var(--font-size-6xl);
            }
        }
    </style>
{% endblock %}

{% block body %}
    <main class="mx-auto">
        <div
            id="exclamation"
            role="none"
        >
            !
        </div>
        <h1>Page Not Found</h1>
        <a
            href="/"
            class="AccentButton"
        >
            Go Home
        </a>
    </main>
{% endblock %}
