.home-layout {
    padding-top: calc(var(--spacing-four) * 1px);
    padding-bottom: calc(var(--spacing-four) * 1px);

    > * + * {
        margin-top: calc(var(--spacing-three) * 1rem / var(--spacing-base));
    }

    @media (min-width: 40rem) {
        padding-top: calc(var(--spacing-six) * 1px);
        padding-bottom: calc(var(--spacing-six) * 1px);
    }

    header {
        align-items: center;
        display: flex;
        flex-direction: column;

        /* TODO postcss concern; need to provide a fallback for gap? */
        gap: calc((var(--spacing-three) * 1rem) / var(--spacing-base));

        h1 {
            color: var(--color-accent-600);
            font-size: var(--font-size-4xl);
            letter-spacing: 0.05em;
            line-height: 1.2;
            font-style: italic;
            font-weight: bold;
            text-align: center;
            text-transform: uppercase;
        }

        .logo {
            text-align: center;

            .toppy {
                margin-left: auto;
                margin-right: auto;
                width: 50%;
            }

            .regex {
                color: var(--color-accent-600);
                font-size: var(--font-size-7xl);
                font-weight: bold;
                letter-spacing: 0.05em;
                line-height: 1;

                /* Wanted disproportionate "letter-spacing" between the selector and flags of the regex */
                span {
                    display: inline-block;
                    width: 0.25em;
                }
            }
        }

        h2 {
            color: var(--color-primary-900);
            font-size: var(--font-size-2xl);
            font-weight: bold;
            text-align: center;
        }

        @media (min-width: 40rem) {
            h1 {
                font-size: var(--font-size-6xl);
            }

            h2 {
                font-size: var(--font-size-3xl);
            }
        }
    }

    main {
        max-width: 20em; /* TODO Document, how arrived at via ch measurements for font; what's the intended character count? */
        color: var(--color-primary-900);
        font-size: var(--font-size-base);
        text-align: center;

        p + p {
            margin-top: 1em;
        }

        @media (min-width: 40rem) {
            font-size: var(--font-size-lg);
        }
    }

    nav {
        max-width: calc(
            (var(--spacing-twentyfour) * 1rem) / var(--spacing-base)
        );
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}
