.home-layout {
    padding-bottom: calc(var(--spacing-four) * 1px);
    padding-top: calc(var(--spacing-two) * 1px);

    @media (min-width: 40rem) {
        padding-bottom: calc(var(--spacing-six) * 1px);
        padding-top: calc(var(--spacing-two) * 1px);
    }

    header {
        align-items: center;
        display: flex;
        flex-direction: column;

        /* TODO postcss concern; need to provide a fallback for gap? */
        gap: calc((var(--spacing-three) * 1rem) / var(--spacing-base));

        > h1 {
            color: var(--color-accent-600);
            font-size: var(--font-size-4xl);
            letter-spacing: 0.05em;
            line-height: 1.2;
            font-style: italic;
            font-weight: bold;
            text-align: center;
            text-transform: uppercase;
        }

        > .logo {
            .toppy {
                width: 50%;
            }

            .regex {
                color: var(--color-accent-600);
                font-size: var(--font-size-7xl);
                font-weight: bold;
                letter-spacing: 0.05em;
                line-height: 1;
                margin-left: -0.5rem; /* I can't explain why, but this nudge makes the logo look more centered */

                /* Wanted disproportionate "letter-spacing" between the selector and flags of the regex */
                span {
                    display: inline-block;
                    width: 0.25em;
                }
            }
        }

        @media (min-width: 40rem) {
            h1 {
                font-size: var(--font-size-6xl);
            }
        }
    }

    main {
        color: var(--color-primary-900);
        font-size: var(--font-size-base);
        max-width: 20em; /* see note in global.css about character count experiment */
        text-align: center;

        h2 {
            color: var(--color-primary-900);
            font-size: var(--font-size-2xl);
            font-weight: bold;
            margin-bottom: 1em;
            margin-top: 2em;
            text-align: center;
        }

        p + p {
            margin-top: 1em;
        }

        @media (min-width: 40rem) {
            font-size: var(--font-size-lg);

            h2 {
                font-size: var(--font-size-3xl);
            }
        }
    }
}
