{% extends "layouts/base.html" %}

{% block title %}
    <title>GrepCo — Global Regular Expressions Production Company</title>
{% endblock %}

{% block description %}
    Zack McCartney's personal site / a fake production company
{% endblock %}

{% block head %}
    <link
        rel="stylesheet"
        href="/home.css"
    />
{% endblock %}

{% block body %}
    <div class="home-layout">
        <header>
            <h1>Global Regular<br />Expressions</h1>
            <div
                aria-label="GrepCo logo"
                class="logo"
                role="img"
            >
                <img
                    class="toppy mx-auto"
                    src="./images/tophat.png"
                    alt="tophat icon"
                />
                <div class="regex">.*<span></span>/g</div>
            </div>
            <nav class="nav-button-group">
                <a
                    href="/about"
                    class="AccentButton"
                >
                    About
                </a>
                <a
                    href="/projects"
                    class="AccentButton"
                >
                    Projects
                </a>
            </nav>
        </header>

        <main class="mx-auto">
            <h2>"a production company"</h2>
            <p>
                And by company, "we" mean a solo dev working up in sunny
                South&nbsp;Portland,&nbsp;ME.
            </p>
            <p>Thanks for stopping by!</p>
        </main>
    </div>
{% endblock %}
