<!doctype html>
<html lang="en-US">
    <head>
        <meta charset="utf-8" />

        {% block title %}
            <title>{% block pagename %}{% endblock %} — GrepCo</title>
        {% endblock %}

        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, user-scalable=1"
        />

        <!-- Note description block, hidden by syntax highlighting miss -->
        <meta
            name="description"
            content="{% block description %}{% endblock %}"
        />

        <link
            rel="icon"
            href="/favicon.ico"
            sizes="32x32"
        />
        <link
            rel="icon"
            href="/favicon.svg"
            type="image/svg+xml"
        />
        <link
            rel="apple-touch-icon"
            href="/apple-touch-icon.png"
        />

        <link
            rel="preconnect"
            href="https://fonts.googleapis.com"
        />
        <link
            rel="preconnect"
            href="https://fonts.gstatic.com"
            crossorigin
        />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap"
        />

        {% block head %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
