---
import type { ComponentProps } from "astro/types";

import Button from "../components/button.astro";
import Logo from "../components/logo.astro";
import BaseLayout from "./base.astro";

type Props = ComponentProps<typeof BaseLayout>;

const { description, title } = Astro.props;
---

<script>
    let currentPath = globalThis.location.pathname;
    if (currentPath.endsWith("/")) {
        // Normalize away trailing slash (Cloudflare 308s directory paths to trailing slash equiv e.g. /archive --> /archive/ )
        currentPath = currentPath.slice(0, -1);
    }

    if (currentPath.startsWith("/projects")) {
        currentPath = "/projects";
    }

    const navLink = document.querySelector(
        `.nav-button-group > a[href="${currentPath}"]`
    );
    navLink?.classList.add("current");
</script>

<style>
    .subpage-layout {
        padding: var(--spacing-two-rem);

        > header {
            max-width: 40rem;
            margin-bottom: var(--spacing-four-rem);

            @media (min-width: 80rem) {
                max-width: var(--spacing-forty-rem);
            }
        }
    }

    nav {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-two-rem);

        @media (min-width: 40rem) {
            align-items: center;
            flex-direction: row;
            gap: var(--spacing-four-rem);
        }
    }

    .nav-button-group {
        display: flex;
        flex-direction: row;
        gap: var(--spacing-three-rem);

        @media (min-width: 40rem) {
            align-self: flex-end; /* makes buttons look more aligned with regex logo */
        }

        > .current {
            position: relative;

            &::before {
                color: var(--color-primary-500);
                content: "*";
                font-size: var(--font-size-4xl);
                position: absolute;
                left: calc(50% - 0.25ch);
                top: calc(var(--spacing-threequarter-rem) * -1);
            }
        }
    }

    .logo-link {
        font-size: var(--font-size-4xl);
        /* 
            roundabout-ass way to say 18px, experimentally arrived at ... assuredly a better way, will figure out later
            point is to make logo and nav buttons look more visually aligned    
        */
        margin-top: calc(var(--spacing-onedotfive-rem) * -0.75);
        text-decoration: none;

        &:active,
        &:hover {
            box-shadow: 0 0.05em 0 var(--color-accent-600);
            color: var(--color-accent-600);
        }

        @media (min-width: 40rem) {
            font-size: var(--font-size-5xl);
        }
    }
</style>

<BaseLayout
    description={description}
    title={`${title} — GrepCo`}
>
    <div class="subpage-layout">
        <header class="mx-auto">
            <nav>
                <Logo
                    as="a"
                    class="logo-link"
                    href="/"
                    imgWidth={56}
                />
                <div class="nav-button-group">
                    <Button
                        as="a"
                        href="/about"
                    >
                        About
                    </Button>
                    <Button
                        as="a"
                        href="/projects"
                    >
                        Projects
                    </Button>
                </div>
            </nav>
            <slot name="header" />
        </header>
        <slot />
    </div>
</BaseLayout>
