@import url("../global.css");
@import url("../theme.css");

#layout-root {
    main {
        max-width: 40rem;

        @media (min-width: 80rem) {
            max-width: fit-content;
        }

        > article {
            margin-top: calc(var(--spacing-two) * 1rem / var(--spacing-base));

            .project-description {
                * + * {
                    margin-top: 0.75em;

                    &:is(h2) {
                        margin-top: 1.25em;
                    }

                    &:is(li) {
                        margin-top: 0.25em;
                    }

                    &:is(ul) {
                        margin-top: 1.25em;
                        margin-bottom: 1.25em;
                    }
                }

                ul + * {
                    margin-top: 0;
                }
            }
        }
    }
}

.source-button-container {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    gap: calc(var(--spacing-one) * 1px);
    justify-content: center;

    /* stylelint-disable-next-line no-descending-specificity */
    > * {
        min-width: 100px;
    }
}

.github-logo {
    display: inline-block;
    vertical-align: sub; /* kinda gross / accidental, but works */
}

.source-button {
    display: block; /* handle anchors */
    background-color: var(--color-primary-100);
    border: 4px solid var(--color-primary-700);
    border-style: inset;
    border-radius: 8px;
    color: var(--color-primary-900);
    font-size: var(--font-size-xl);
    font-weight: bold;
    padding: calc(var(--spacing-threequarter) * 1rem / var(--spacing-base))
        calc(var(--spacing-onedotfive) * 1rem / var(--spacing-base));
    text-decoration: none;

    &:hover,
    &:active {
        background-color: var(--color-primary-900);
        border-color: var(--color-primary-100);
        border-style: outset;
        color: var(--color-primary-100);
    }
}
