{% extends "layouts/base.html" %}

{% block pagename %}
    Projects
{% endblock %}

{% block description %}
    GrepCo's projects
{% endblock %}

{% block head %}
    <link
        rel="stylesheet"
        href="/projects/projects.css"
    />
{% endblock %}

{% block body %}
    <div class="subpage-layout">
        <header class="mx-auto">
            <nav>
                <a
                    href="/index.html"
                    aria-label="GrepCo logo"
                    class="regex"
                >
                    .*<span></span>/g
                </a>
                <div class="nav-button-group">
                    <a
                        href="/about"
                        class="AccentButton"
                    >
                        About
                    </a>
                    <a
                        href="/projects"
                        class="AccentButton current-page"
                    >
                        Projects
                    </a>
                </div>
            </nav>
            <h1 class="post-title">Projects</h1>
        </header>
        <main class="mx-auto">
            <a
                href="/projects/ball-is-wine"
                class="mx-auto"
            >
                <div class="folder">
                    <div class="front-flap"></div>
                    <div class="back-flap">
                        <div class="tab"></div>
                    </div>
                </div>
                <p>Ball is Wine</p>
            </a>
            <a
                href="/projects/nbastt"
                class="mx-auto"
            >
                <div class="folder">
                    <div class="front-flap"></div>
                    <div class="back-flap">
                        <div class="tab"></div>
                    </div>
                </div>
                <p>NBA&nbsp;Surprise<br />Teams&nbsp;Tracker</p>
            </a>
        </main>
    </div>
{% endblock %}
