@import url("../global.css");
@import url("../theme.css");

main {
    max-width: min-content;
    display: grid;
    row-gap: calc(var(--spacing-six) * 1rem / var(--spacing-base));

    @media (min-width: 48rem) {
        max-width: 60rem;
        grid-template-columns: 1fr 1fr 1fr;
    }

    > a {
        display: block;
        text-decoration: none;

        > p {
            color: var(--color-accent-600);
            font-size: var(--font-size-lg);
            font-weight: bold;
            text-align: center;
            margin-top: 0.75em;
        }

        > .folder {
            isolation: isolate;
            position: relative;

            > * {
                border-radius: calc(var(--spacing-half) * 1px);
                height: calc(var(--spacing-eight) * 1rem / var(--spacing-base));
                width: calc(var(--spacing-twelve) * 1rem / var(--spacing-base));
            }

            > .front-flap {
                z-index: 1;
                position: relative;
                background: linear-gradient(
                    to bottom right,
                    var(--color-accent-500),
                    var(--color-accent-400),
                    35%,
                    var(--color-accent-200),
                    var(--color-accent-100)
                );
            }

            > .back-flap {
                background-color: var(--color-accent-100);
                border-top-right-radius: 0;
                position: absolute;
                top: 0;

                > .tab {
                    background-color: transparent;
                    border-radius: calc(var(--spacing-half) * 1px);
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                    border-color: var(--color-accent-100);
                    border-style: solid;
                    border-bottom-width: calc(
                        var(--spacing-one) * 1rem / var(--spacing-base)
                    );
                    border-left-width: 20px;
                    border-left-color: transparent;
                    border-top-width: 0;
                    position: absolute;
                    width: 40%;
                    height: 0;
                    top: calc(var(--spacing-one) * -1rem / var(--spacing-base));
                    right: 0;
                }
            }
        }

        &:hover,
        &:active {
            > .folder > .front-flap {
                transform-origin: bottom;
                transform: scale3d(1, 0.95, 0.95) translateX(-5px) scaleX(1.05);
            }

            > p {
                text-decoration: underline;
            }
        }
    }
}
